*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-background:#fbaccc;
    --header-color:#f4f9f9;

}

button{
    background:none;
    
}
h1{
    font-size: 5vh;
    font-weight: 900;
}
#header{
    text-align: center;
    padding: 1em;
    background-color: var(--header-background);
    color: var(--header-color);
}
#main{
    position: relative;
    min-height: 85vh;
}
.add-form-btn{
   
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: var(--header-background);
    transition: all 200ms ease-in;
}

.add-form-btn:hover{
    transform: scale(1.5) rotate(45deg);
    color: #f875aa;

}

.frm-header{
    background-color: #fbaccc;
    color: #030303b0;
}
.m-con{
    border-radius: 20px;
    padding: 1.5em;
}

.frm-submit{
    background-color: #fbaccc;
    border-color: #fbaccc;
    color: #030303;
    width: 100%;
}

.frm-submit:hover{
    background-color: #f875aa;
    border-color: #f875aa;
    color: var(--header-color);
    transform: scale(1.03);
    transition: all 200ms;
}

.status-checkbox:checked{
    background-color: #fbaccc;
    border-color: #f875aa;
}

.status-checkbox:focus{
    box-shadow:0 0 0 0.25rem #fbaccb79;
    border-color: #fbaccc;
}