*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-background:#f875aa;
    --header-color:#f4f9f9;

}

button{
    background:none;
    
}
h1{
    font-size: 5vh;
    font-weight: 900;
}
#header{
    text-align: center;
    padding: 1em;
    background-color: var(--header-background);
    color: var(--header-color);
}
#main{
    position: relative;
    min-height: 85vh;
}
.add-form-btn{
   
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: var(--header-background);
    transition: all 200ms ease-in;



}

.add-form-btn:hover{
    transform: scale(1.5) rotate(45deg);

}
.bk-form{
    background-color: var(--header-color);
    border-radius: 10px;
    
}
.m-header{
    background-color: var(--header-background);
    color: var(--header-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.frm-add{
    background-color: var(--header-background);
    color: var(--header-color);
}
.frm-close{
    background-color: #989fa7 ;
    color: var(--header-color);
}


